
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.cow_section{
    background-image: url('../images/cow1.jpg');
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 59% 100%, 44% 100%, 0 78%);

}
.cow_section h1{
    padding-top: 100px;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    color: bisque;
    font-family: cursive;
}
.cow_details, #cow_types{
    width: 75%;
    margin: 60px auto;
    background: linear-gradient(to right, rgba(223, 16, 16, 0), rgb(230, 67, 167));
    padding: 60px;
    border-width: 15px;
    border-color: rgb(1, 27, 255);
    border-style: solid;
}
.cow_details h1{
    text-align: center;
    color: brown;
    font-size: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 10px;
    border-color: brown;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.cow_details p{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.cow_details p .content_article{
    font-size: 35px;
}

#cow_types .cow_type{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.cow_type div{
    min-width: 300px;
}
#cow_type .cow_type .cow_header{
    font-size: 20px;
}